#!/usr/bin/python3

import algobroker
algobroker.send("control", [
    {
    "dest":"broker_plivo",
    "cmd" : "auth",
    "PLIVO_AUTH_ID" : "API1",
    "PLIVO_AUTH_TOKEN" : "API2",
    "src_number" : "14153337777",
    "dst_number" : {
    "trader1" : "NUMBER1",
    "trader2" : "NUMBER2"
    }},
    {
    "dest": "broker_bitmex",
    "cmd" : "auth",
    "base_url" : "https://testnet.bitmex.com/api/v1/",
    "apiKey" : "API1",
    "apiSecret" : "API2",
    },
    {
    "dest": "ticker_yahoo",
    "cmd" : "set",     
    "assets" : ["3888.HK", "0700.HK", "0388.HK"]
    },
    {
    "dest":  "ticker_bravenewcoin",
    "cmd" : "set",     
    "assets" : ["btc_usd_24hr"]
    },
    {
    "dest" : "strategy_alert",
    "cmd" : "set",
    "limits" : {
    "3888.HK" : [ 15.5, 16.0],	
    "0700.HK" : [ 127.5, 133.0],
    "0388.HK" : [ 180.0, 185.0]
    }}
    ])

    


