#!/usr/bin/python3

import algobroker
algobroker.send_control("broker_plivo",
                       {
    "cmd" : "auth",
    "PLIVO_AUTH_ID" : "MY PLIVO TOKENS",
    "PLIVO_AUTH_TOKEN" : "MY PLIVO AUTH",
    "src_number" : "14153337777",
    "dst_number" : {
    "trader1" : "+9999"
    "trader2" : "+9999"
    }
    })

algobroker.send_control("ticker_yahoo",
                       {	
    "cmd" : "set",     
    "assets" : ["3888.HK", "0700.HK", "0388.HK"]
    })

algobroker.send_control("strategy_alert",
                        {	
    "cmd" : "set",
    "limits" : {
    "3888.HK" : [ 15.5, 16.0],	
    "0700.HK" : [ 127.5, 133.0],
    "0388.HK" : [ 180.0, 185.0]
    }
    })
