include setup.py algoinject.py
include init.py.example
include *.md
include *.sh
include *.cfg
include *.patch
include algobroker/*.py
include algobroker/test/*.py
include algobroker/static/*.ogg
include algobroker/static/*.html
include algobroker/static/*.js
include algobroker/static/*.ttf
include algobroker/static/*.woff
include cmds/*.json



