<!DOCTYPE html>
<html>
  <head>
    <script src=
	  "http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <script src=
	  "http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.min.js"></script>
  <script src=
	  "http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js"></script>
  <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
  <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
  <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
  <script src=
	  "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script src="static/ui-bootstrap-tpls-0.14.3.min.js"></script>
  <script src="static/ui-grid.min.js"></script>
  <script src="static/broker_web.js"></script>
  <link rel="stylesheet" href="static/ui-grid.min.css"/>
  <style type="text/css">
    #inject {
    width: 80%;
    height: 300px;
    }
    .grid {
    width: 500px;
    height: 250px;
    }
    #textarea1 {
    width: 100%;
    height: 500px;
    }
  </style>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
  integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
	crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
  integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX"
	crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
  integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  </head>
  <body>
    <div ng-app="myApp">
      <div ng-controller="TabsDemoCtrl">
	<uib-tabset>
	  <uib-tab heading="Scratchpad">
	    <a href="/reactjs">React JS</a><br>
	    <div ng-controller="customersCtrl">
	      <ul>
		<li ng-repeat="x in names">
		  {{ x.Name + ', ' + x.Country }}
		</li>
	      </ul>
	      <br>
	      <br>
	      <a href="/reactjs">React Sandbox</a><br>
	      <button ng-click="loadData()">Refresh</button>
	      <button ng-click="localAlert()">Local Alert</button><br>
	      <button ng-click="publish()">Ping publish</button><br>
	    </div>
	  </uib-tab>
	  <uib-tab heading="Injector">
	    <div ng-controller="injectCtrl">
	      <button ng-click="injectControl()">Control</button>
	      <button ng-click="injectData()">Data</button><br>
	      <input type="file"
		     on-read-file="displayFileContents(contents)" /><br/>
	      <textarea id="inject" ng-model="textinput"></textarea><br>
	    </div>
	  </uib-tab>
	  <uib-tab heading="Grid">
	    <div ng-controller="gridCtrl">
	      <div id="grid1" ui-grid="{ data: myData }" class="grid">
	      </div>
	    </div>
	  </uib-tab>
	  <uib-tab heading="Log">
	    <button ng-click="clearLog()">Clear log</button>
	    <br>
	    <textarea id="textarea1" ng-model="log">
	    </textarea>
	  </uib-tab>
	</uib-tabset>
      </div>
    </div>
  </body>
</html>
