<!DOCTYPE html>
<html>
  <head>
  <script src=
	  "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <style type="text/css">
    #inject {
    width: 80%;
    height: 300px
    }
  </style>
  </head>
  <body>

    <div ng-app="myApp">
    <div ng-controller="customersCtrl">
    <ul>
    <li ng-repeat="x in names">
    {{ x.Name + ', ' + x.Country }}
    </li>
    </ul>
    <br>{{log}}
    <br>
    <button ng-click="loadData()">Refresh</button><button ng-click="deskAlert()">Alert</button><br>
    <p>
      {{result}}
    </div>
    <div ng-controller="injectCtrl">
      <button ng-click="injectControl()">Control</button><button ng-click="injectData()">Data</button><br>
      <textarea id="inject" ng-model="textinput"></textarea><br>
    </div>
    </div>

    <script>
    var app = angular.module('myApp', []);
     app.controller('customersCtrl', function($scope, $http) {
	 $scope.loadData = function() {
	     $http.get("/test-data").success(function (response) {
		 $scope.names =
		     response.records;
	     });
	 };
	 $scope.deskAlert = function() {
	     $http.get("/desk-alert").success(function (response) {
		 $scope.log = response;
	     });
	 };
	 var source = new EventSource('/subscribe');
	 source.onmessage = function (event) {
	     $scope.result = JSON.parse(event.data);
	     $scope.$apply();
	     console.log($scope.result);
	 };
      });
     app.controller('injectCtrl', function($scope, $http) {
	 $scope.injectData = function() {
    $http.post("/inject-data",
	       JSON.parse($scope.textinput),
	       {"headers": {"context-type" : "application/json"}}).success(function (response) {
		 $scope.result = "done";
	     });
	 };
	 $scope.injectControl = function() {
	     $http.post("/inject-control",
			JSON.parse($scope.textinput),
			{"headers": {"context-type" : "application/json"}}).success(function (response) {			
		 $scope.result = "done";
	     });
	 };
      });
    </script>

  </body>
</html>
